@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

 

*{
    margin: 0;
    padding:0;
}
body{
    font-family: 'Oswald';
    text-align: center;
    background-color: #e0d9f6;
}
.wrapper{
    width: 90%;
    margin: 0 auto
}
header{
    width: 100%;
    height: 100px;
    background: #7851A9;
    position: fixed;
}
.logo{
    width: 30%;
    float: left;
    text-align: left;
    line-height: 100px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    letter-spacing: 4px;
}
nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family: 'Oswald';
    letter-spacing: 4px;
    font-size: 20px;
    color: black;
    padding: 36px 10px;
    margin: 0 1px;
    font-weight: 500;
}
nav a:hover{
    background: #fff;
    color: #130f40;
}
.banner-area{
    background-image: url("https://as1.ftcdn.net/v2/jpg/09/19/14/58/1000_F_919145827_W3hWwAGtDRncDuxmQ9A6ZqzKGpUAmKOc.jpg");
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed
}
.banner-area:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #130f40;
    opacity: .4;
    z-index: -1;
}
.banner-area h2{
    padding-top: 8%;
    font-size: 80px;
    color: #fff
}
.content-area{
    width: 100%;
    height: 800px;
    position: relative;
    background: #fff;
    top: 550px;
}
.content-area h2{
    font-size: 40px;
    margin: 0;
    padding-top: 30px;
    letter-spacing: 4px;
}
.content-area p{
    padding: 2% 0;
    line-height: 30px;
    text-align: justify;
    
}